.menu-categorias:hover .menu-categorias-ul{
    display: block;
}

.menu-categorias-ul{
    display: none;
    position: absolute;
    padding: 0;
    padding-top: .9em;
    transform: translateX(-35%);
}

.menu-categorias-container{
    display: flex;
    justify-content: space-between;
    width: 27em;
}

.categoria-item{
    list-style: none;
    text-transform: capitalize;
    font-size: 15px;
}


.productos-section{
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

.productos-container{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 2em;
    padding: 2em;
}

.pago-section{
    width: 40%;
    padding: 0 2em;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.pago-container{
    background-color: white;
    border-radius: 15px;
    width: 23em;
    font-family: 'Open Sans', sans-serif;
}

.header-carrito{
    padding: 1em;
    padding-bottom: .5em;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
}

.header-carrito h2{
    margin: 0;
}

.pago-items-container{
    padding: 0 1em;
}

.carrito-item-detalles{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: .5em 0;
    column-gap: 2em;
}

.carrito-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.carrito-item-titulo{
    font-weight: 600;
    text-align: center;
}

.selector-cantidad{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.carrito-item-cantidad{
    width: 3em;
    border: none;
    font-size: 15px;
    background-color: transparent;
    display: inline-block;
    text-align: center;
}

.pago-total{
    padding-top: 1em;
}

.fila{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: .5em;
}

.btn-pagar{
    display: flex;
    margin: 0 auto;
    width: 60%;
    align-items: center;
    justify-content: center;
    height: 2em;
    font-family: 'Roboto', sans-serif;
    column-gap: 1em;
    margin-bottom: 1em;
    background-color: black;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
    border: none;
    color: #fff;
}

.hiddenCarrito{
    margin-right: -100%;
    opacity: 0;
    display: none;
    transition: .3s;
}

.sinProductos{
    background-image: url("/img/noCarrito.png");
    background-repeat: no-repeat;
    height: 50vh;
    background-size: contain;
    background-position: center;
}

@media (min-width: 310px) and (max-width: 650px){
    .productos-section {
        flex-direction: column-reverse;
        align-items: center;
    }
}