#productosCategoria{
    display: flex;
    padding: 2em;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 40px;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}


.menu-categorias:hover .menu-categorias-ul{
    display: block;
}

.menu-categorias-ul{
    display: none;
    position: absolute;
    padding: 0;
    padding-top: .9em;
    transform: translateX(-35%);
}

.menu-categorias-container{
    display: flex;
    justify-content: space-between;
    width: 27em;
}

.categoria-item{
    list-style: none;
    text-transform: capitalize;
    font-size: 15px;
}